*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.google-login{
    border: 2px solid #ced4da !important;
}
img{
    /* border: 5px solid green; */
    height: 4.5vh;
}
.justify-content-center{
    justify-content: center !important;
}
 .box{
    /* border: 5px solid green; */
}
.box-2{
    /* border: 5px solid black; */
}
.row{
    /* border: 2px solid red; */
}